@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #061304;
    color: #39F90C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 32px;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 16px;
    max-width: 400px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header .logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

header h1 {
    margin: 0;
    font-size: 48px;
}

.character img {
    width: 100%;
    max-width: 360px;
    border: 2px solid #00FF00;
}

.input-container {
    margin-top: 24px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.search-container input {
    flex: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 16px;
    border: 2px solid #00FF00;
    background-color: #102B09;
    color: #00FF00;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.search-container input::placeholder {
    color: #00FF00;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meme-button {
    font-family: 'Poppins', sans-serif;
    background-color: #091905;
    color: #0f0;
    border: 2px solid #0f0;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.75em;
    flex: 1 1 30%;
    max-width: 30%;
}

.meme-button:hover {
    background-color: #0f0;
    color: #091905;
}

@media (min-width: 600px) {
    .container {
        padding: 28px;
    }

    .search-container input {
        width: calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    .meme-button {
        flex: 1 1 45%; /* Adjust button size for mobile phones */
        max-width: 45%;
    }
}